.todo-card {
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: ghostwhite;
}
.done {
    text-decoration: line-through;
}
.spacer {
    display: flex;
    border-top: 1px solid #000;
}
.actions {
    display: flex;
    justify-content: end;
    gap: 10px;
}
button {
    background-color: crimson;
    color: #fff;
    padding: 10px;
    font-size: small;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}